@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: white;
}

#root {
  min-height: 100vh;
}
